---
interface Props {
  title: string;
}
const { title } = Astro.props;

import "./styles.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <nav>
      <ul class="flex flex-col p-3 gap-y-1">
        <li><a class="text-blue-500" href="/">Kitchen Sink</a></li>
        <li><a class="text-blue-500" href="/group">TransitionGroup</a></li>
      </ul>
    </nav>
    <main>
      <h1 class="mb-6">{title}</h1>
      <slot />
    </main>
  </body>
</html>
