body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
  max-width: 600px;
  margin: 10vh auto;
}

.container {
  position: relative;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-exit-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-exit-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-exit-to {
  transform: translateX(10px);
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-exit-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.list-item {
  transition: all 0.5s;
  display: inline-block;
  margin-right: 10px;
}

.list-item-enter,
.list-item-exit-to {
  opacity: 0;
  transform: translateY(30px);
}
.list-item-exit-active {
  position: absolute;
}
